USE [master]
GO
/****** Object:  Database [campo]    Script Date: 29/11/2022 21:14:02 ******/
CREATE DATABASE [campo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'campo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\campo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'campo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\campo_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [campo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [campo]
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mensaje] [varchar](500) NOT NULL,
	[prioridad] [varchar](10) NOT NULL,
	[fecha] [varchar](100) NOT NULL,
	[usuario] [varchar](100) NOT NULL,
	[dvh] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cupon]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cupon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[discount] [varchar](100) NULL,
	[type] [varchar](50) NULL,
	[emmitDate] [varchar](100) NOT NULL,
	[expirationDate] [varchar](100) NOT NULL,
	[code] [varchar](200) NOT NULL,
	[dvh] [varchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dvv]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dvv](
	[tablename] [varchar](50) NOT NULL,
	[dvv] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ejercicios_usuario]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ejercicios_usuario](
	[id_usuario] [int] NOT NULL,
	[id_grupo_muscular] [int] NOT NULL,
	[repeticiones] [int] NOT NULL,
	[peso] [decimal](5, 2) NULL,
 CONSTRAINT [PK_ejercicios_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[id_grupo_muscular] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grupo_muscular_maquina]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grupo_muscular_maquina](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_maquina] [int] NOT NULL,
	[id_tipo_grupo_muscular] [int] NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
 CONSTRAINT [PK_grupo_muscular_maquina] PRIMARY KEY CLUSTERED 
(
	[id_tipo_maquina] ASC,
	[id_tipo_grupo_muscular] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idioma]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idioma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maquina]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maquina](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_maquina] [int] NOT NULL,
	[identificador] [varchar](50) NOT NULL,
 CONSTRAINT [PK_maquina] PRIMARY KEY CLUSTERED 
(
	[identificador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso](
	[nombre] [varchar](100) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[permiso] [varchar](50) NULL,
	[descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_permiso] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso_permiso]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso_permiso](
	[id_permiso_padre] [int] NOT NULL,
	[id_permiso_hijo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](500) NULL,
	[price] [decimal](15, 4) NOT NULL,
	[dvh] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_grupo_muscular]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_grupo_muscular](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_maquina]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_maquina](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[traduccion]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[traduccion](
	[id_idioma] [int] NOT NULL,
	[key] [varchar](100) NOT NULL,
	[traduccion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_traduccion] PRIMARY KEY CLUSTERED 
(
	[id_idioma] ASC,
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_changes_control]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_changes_control](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[nic] [varchar](100) NOT NULL,
	[mail] [varchar](200) NOT NULL,
	[key_idioma] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[telefono] [varchar](100) NULL,
	[direccion] [varchar](300) NULL,
	[dni] [varchar](50) NOT NULL,
	[fecha] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_data]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_data](
	[id_usuario] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[telefono] [varchar](100) NULL,
	[direccion] [varchar](300) NULL,
	[dni] [varchar](50) NOT NULL,
	[dvh] [varchar](100) NULL,
 CONSTRAINT [PK_usuario_data] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nic] [varchar](100) NOT NULL,
	[password] [varchar](200) NOT NULL,
	[mail] [varchar](200) NOT NULL,
	[key_idioma] [int] NOT NULL,
	[intentos] [int] NOT NULL,
	[bloqueado] [bit] NOT NULL,
	[dvh] [varchar](100) NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[nic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios_permisos]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios_permisos](
	[id_usuario] [int] NOT NULL,
	[id_permiso] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [varchar](100) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idCupon] [int] NULL,
	[dvh] [varchar](100) NOT NULL,
	[subTotal] [varchar](50) NOT NULL,
	[total] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta_producto]    Script Date: 29/11/2022 21:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta_producto](
	[idVenta] [int] NOT NULL,
	[idProducto] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bitacora] ON 
GO
INSERT [dbo].[bitacora] ([id], [mensaje], [prioridad], [fecha], [usuario], [dvh]) VALUES (1, N'Start up', N'Low', N'638030211987799905', N'System', N'd1ca9a61eac2b56cc4b001ca97c3632695eb9d2023c1d9f9f81e6196cce5d662')
GO
INSERT [dbo].[bitacora] ([id], [mensaje], [prioridad], [fecha], [usuario], [dvh]) VALUES (2, N'Start up', N'Low', N'638030212745226998', N'System', N'01ee9773f31ecf58f96ee801ae40d5f8c662f3fa0944268ec02d529e02385b90')
GO
INSERT [dbo].[bitacora] ([id], [mensaje], [prioridad], [fecha], [usuario], [dvh]) VALUES (3, N'Start up', N'Low', N'638030317777407340', N'System', N'2b61bac8268f39a062bea560e2607a88578c83825f067df2096cc54cd4f45d1d')
GO
SET IDENTITY_INSERT [dbo].[bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[cupon] ON 
GO
INSERT [dbo].[cupon] ([id], [discount], [type], [emmitDate], [expirationDate], [code], [dvh]) VALUES (1, N'30', N'', N'638052908308342103', N'638052908308342103', N'20code', N'1d437dea41d9f6747cc648ab2da515a488180287c8228ceae154772edc5b8335')
GO
SET IDENTITY_INSERT [dbo].[cupon] OFF
GO
INSERT [dbo].[dvv] ([tablename], [dvv]) VALUES (N'bitacora', N'8a9dee19dec70ce92ad92eec94b0e02a2b3d465beb388e83d78caa7a07b7df7b')
GO
INSERT [dbo].[dvv] ([tablename], [dvv]) VALUES (N'usuarios', N'c11952813aafdaf1e5bbf8fc28605d2561354d7eface1558b88f8bef340b677d')
GO
INSERT [dbo].[dvv] ([tablename], [dvv]) VALUES (N'producto', N'1111')
GO
INSERT [dbo].[ejercicios_usuario] ([id_usuario], [id_grupo_muscular], [repeticiones], [peso]) VALUES (2, 1, 1, CAST(0.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[ejercicios_usuario] ([id_usuario], [id_grupo_muscular], [repeticiones], [peso]) VALUES (2, 3, 1, CAST(0.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[ejercicios_usuario] ([id_usuario], [id_grupo_muscular], [repeticiones], [peso]) VALUES (21, 1, 1, CAST(0.75 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[grupo_muscular_maquina] ON 
GO
INSERT [dbo].[grupo_muscular_maquina] ([id], [id_tipo_maquina], [id_tipo_grupo_muscular], [descripcion]) VALUES (23, 1, 1, N'esta es una descripcion estandar')
GO
INSERT [dbo].[grupo_muscular_maquina] ([id], [id_tipo_maquina], [id_tipo_grupo_muscular], [descripcion]) VALUES (2, 1, 2, N'descripcion del ejercicio 1-2')
GO
INSERT [dbo].[grupo_muscular_maquina] ([id], [id_tipo_maquina], [id_tipo_grupo_muscular], [descripcion]) VALUES (3, 1, 3, N'descripcion del ejercicio  1-3')
GO
SET IDENTITY_INSERT [dbo].[grupo_muscular_maquina] OFF
GO
SET IDENTITY_INSERT [dbo].[idioma] ON 
GO
INSERT [dbo].[idioma] ([id], [name]) VALUES (1, N'Español')
GO
INSERT [dbo].[idioma] ([id], [name]) VALUES (2, N'English')
GO
SET IDENTITY_INSERT [dbo].[idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[permiso] ON 
GO
INSERT [dbo].[permiso] ([nombre], [id], [permiso], [descripcion]) VALUES (N'AsignarEjercicios', 16, N'AsignarEjercicios', N'Asignacion de ejercicios a los usuarios')
GO
INSERT [dbo].[permiso] ([nombre], [id], [permiso], [descripcion]) VALUES (N'Backup', 17, N'Backup', N'Realizar Backup de la BD')
GO
INSERT [dbo].[permiso] ([nombre], [id], [permiso], [descripcion]) VALUES (N'Bitacora', 21, N'Bitacora', N'Pantalla de visualizacion de Bitacora')
GO
SET IDENTITY_INSERT [dbo].[permiso] OFF
GO
INSERT [dbo].[permiso_permiso] ([id_permiso_padre], [id_permiso_hijo]) VALUES (1, 3)
GO
INSERT [dbo].[permiso_permiso] ([id_permiso_padre], [id_permiso_hijo]) VALUES (2, 7)
GO
INSERT [dbo].[permiso_permiso] ([id_permiso_padre], [id_permiso_hijo]) VALUES (8, 5)
GO
SET IDENTITY_INSERT [dbo].[producto] ON 
GO
INSERT [dbo].[producto] ([id], [code], [name], [description], [price], [dvh]) VALUES (1, 1, N'oneMonth', N'suscripcion un mes', CAST(100.0000 AS Decimal(15, 4)), N'1')
GO
INSERT [dbo].[producto] ([id], [code], [name], [description], [price], [dvh]) VALUES (2, 2, N'sixMonth', N'suscripcion 6 meses', CAST(550.0000 AS Decimal(15, 4)), N'1')
GO
INSERT [dbo].[producto] ([id], [code], [name], [description], [price], [dvh]) VALUES (3, 3, N'oneYear', N'suscripcion 1 año', CAST(1000.0000 AS Decimal(15, 4)), N'1')
GO
SET IDENTITY_INSERT [dbo].[producto] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_grupo_muscular] ON 
GO
INSERT [dbo].[tipo_grupo_muscular] ([id], [nombre]) VALUES (1, N'Bíceps')
GO
INSERT [dbo].[tipo_grupo_muscular] ([id], [nombre]) VALUES (2, N'Tríceps')
GO
INSERT [dbo].[tipo_grupo_muscular] ([id], [nombre]) VALUES (3, N'Hombros')
GO
SET IDENTITY_INSERT [dbo].[tipo_grupo_muscular] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_maquina] ON 
GO
INSERT [dbo].[tipo_maquina] ([id], [nombre]) VALUES (1, N'Suelo')
GO
INSERT [dbo].[tipo_maquina] ([id], [nombre]) VALUES (2, N'Cinta de Correr
')
GO
INSERT [dbo].[tipo_maquina] ([id], [nombre]) VALUES (3, N'Bicicleta Vertical
')
GO
SET IDENTITY_INSERT [dbo].[tipo_maquina] OFF
GO
INSERT [dbo].[traduccion] ([id_idioma], [key], [traduccion]) VALUES (1, N'aceptar', N'Aceptar')
GO
INSERT [dbo].[traduccion] ([id_idioma], [key], [traduccion]) VALUES (1, N'actualizarTraduccion', N'Actualizar Traduccion')
GO
INSERT [dbo].[traduccion] ([id_idioma], [key], [traduccion]) VALUES (1, N'agregar', N'Agregar')
GO
SET IDENTITY_INSERT [dbo].[user_changes_control] ON 
GO
INSERT [dbo].[user_changes_control] ([id], [id_usuario], [nic], [mail], [key_idioma], [nombre], [apellido], [telefono], [direccion], [dni], [fecha]) VALUES (332, 22, N'tito', N'dsdasd@asdasd', 1, N'qweqwe', N'qweqweqwe', N'1231231211', N'sdasdasdasd', N'123123', N'638051662683433333')
GO
INSERT [dbo].[user_changes_control] ([id], [id_usuario], [nic], [mail], [key_idioma], [nombre], [apellido], [telefono], [direccion], [dni], [fecha]) VALUES (333, 23, N'qwertjq', N'8897979', 2, N'qwertyu', N'wertyu', N'345345345', N'asdfadvd', N'345345345', N'638051662843300000')
GO
INSERT [dbo].[user_changes_control] ([id], [id_usuario], [nic], [mail], [key_idioma], [nombre], [apellido], [telefono], [direccion], [dni], [fecha]) VALUES (492, 18, N'carlos', N'wqwewq@asd', 1, N'carlos', N'asdasd', N'12312', N'qweqw1', N'12312', N'638052758425733333')
GO
SET IDENTITY_INSERT [dbo].[user_changes_control] OFF
GO
INSERT [dbo].[usuario_data] ([id_usuario], [nombre], [apellido], [telefono], [direccion], [dni], [dvh]) VALUES (1, N'juanC', N'castelli', N'1145285750', N'mi direccion', N'1', N'a7c33381185a04f1ea69d658adcecd789498bb84ef7395feb769fbad17ad33ab')
GO
INSERT [dbo].[usuario_data] ([id_usuario], [nombre], [apellido], [telefono], [direccion], [dni], [dvh]) VALUES (2, N'martin', N'rrrr', N'12345678', N'adress', N'12', N'6eb657082206807f666008ec8373691aaa508663c81ef6cec872d2f584dd6bcb')
GO
INSERT [dbo].[usuario_data] ([id_usuario], [nombre], [apellido], [telefono], [direccion], [dni], [dvh]) VALUES (18, N'carlos', N'asdasd', N'12312', N'qweqw1', N'12312', N'3fa1c5df4a87f3b3aa5d68fad67451dd93e23b015465506e4a26b39177943f20')
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 
GO
INSERT [dbo].[usuarios] ([id_usuario], [nic], [password], [mail], [key_idioma], [intentos], [bloqueado], [dvh]) VALUES (21, N'asdf', N'7c13c90fc7bca100f46b7fe3024974274e018949f7b820eef83254db9648b36a', N'asdasd@sdasd', 1, 0, 0, N'f996c606751741cbc9cc387793aee50c47e89e5d4d499ec668ccfe53bbdbea66')
GO
INSERT [dbo].[usuarios] ([id_usuario], [nic], [password], [mail], [key_idioma], [intentos], [bloqueado], [dvh]) VALUES (18, N'carlos', N'e1df45ab86870fb474c9d6fa5999ef72b4711806cc157f37cfe67a512dce79b4', N'wqwewq@asd', 1, 0, 0, N'3fa1c5df4a87f3b3aa5d68fad67451dd93e23b015465506e4a26b39177943f20')
GO
INSERT [dbo].[usuarios] ([id_usuario], [nic], [password], [mail], [key_idioma], [intentos], [bloqueado], [dvh]) VALUES (1, N'juan', N'f1e200e2e30e9562a580ef850792b8c664ce89593276c3e93fbe3e9a4c2cb9e9', N'juan@mail.com', 2, 0, 0, N'a7c33381185a04f1ea69d658adcecd789498bb84ef7395feb769fbad17ad33ab')
GO
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
INSERT [dbo].[usuarios_permisos] ([id_usuario], [id_permiso]) VALUES (1, 11)
GO
INSERT [dbo].[usuarios_permisos] ([id_usuario], [id_permiso]) VALUES (2, 1)
GO
INSERT [dbo].[usuarios_permisos] ([id_usuario], [id_permiso]) VALUES (13, 3)
GO
SET IDENTITY_INSERT [dbo].[venta] ON 
GO
INSERT [dbo].[venta] ([id], [fecha], [idUsuario], [idCupon], [dvh], [subTotal], [total]) VALUES (1, N'638052908308342103', 1, NULL, N'6f1ce9c19563e4d9396f92319d8e1bdc394ec98e00af3dd4b83362c2a0606b72', N'10', N'10')
GO
SET IDENTITY_INSERT [dbo].[venta] OFF
GO
INSERT [dbo].[venta_producto] ([idVenta], [idProducto]) VALUES (1, 1)
GO
INSERT [dbo].[venta_producto] ([idVenta], [idProducto]) VALUES (1, 2)
GO
USE [master]
GO



create TRIGGER [dbo].[usuario_data_update_trigger]
on [dbo].[usuario_data]
FOR UPDATE, DELETE, INSERT
AS
insert into [dbo].[user_changes_control]
select d.id_usuario,
		nic,
		mail,
		key_idioma,
		nombre,
		apellido,
		telefono,
		direccion,
		dni,
		(DATEDIFF_BIG( microsecond, '00010101', GETDATE() ) * 10 +
           ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100) as fecha
		from deleted as d inner join usuarios as u on d.id_usuario = u.id_usuario ;

GO
ALTER TABLE [dbo].[usuario_data] ENABLE TRIGGER [usuario_data_update_trigger]
GO

create TRIGGER [dbo].[usuario_data_update_trigger2]
on [dbo].[usuarios]
FOR UPDATE, DELETE, INSERT
AS
insert into [dbo].[user_changes_control]
select d.id_usuario,
		nic,
		mail,
		key_idioma,
		nombre,
		apellido,
		telefono,
		direccion,
		dni,
		(DATEDIFF_BIG( microsecond, '00010101', GETDATE() ) * 10 +
           ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100) as fecha
		from deleted as d inner join usuario_data as u on d.id_usuario = u.id_usuario ;
GO
ALTER TABLE [dbo].[usuarios] ENABLE TRIGGER [usuario_data_update_trigger2]
GO

USE [master]
GO
